.cat-img{
    width: 200px;
    border-radius: 12px;
    margin-right: 20px;
}
.cat-img2{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
}
.cat-img3{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
}