div{
    text-align: center;
}
img{
    width: 272px;
    margin-bottom: 20px;
    margin-top: 10px;
}
input{

    border: none;
    border-radius: 100px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    width: 600px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-bottom: 40px;    

}
button{
    background-color: rgb(240, 240, 240);
    border: none;
    font-size: 19px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.first-button{
    margin-right: 15px;
}