.card{
    width: 200px;
    box-shadow: 0 0px 5px rgba(0, 0, 0,0.3);
    margin-top: 10px;
    margin-left: 10px;
}
p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    
}
.para{
    margin-left: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}
.para2{
    margin-left: 8px;
    color: rgb(128, 128, 128);
    margin-bottom: 12px;

    
}
.button-add{
    margin-left: 8px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(12, 138, 222);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;

}
